{{ define "form" }}
	<h2 id="h2">{{ .EVData.Data.Name }} Tally</h2>
	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-3">
			<h4 id="h4bold">Event Title: {{ .EVData.Data.Name }}</h4>
		</div>
		<div class="col-xs-3">
			<h4 id="h4bold">Location: {{ .EVData.Data.Location }}</h4> 
		</div>
		<div class="col-xs-3">
			<h4 id="h4bold">Date: {{ .EVData.Data.Date }}</h4> 
		</div>  
		<div class="col-xs-3">
			<h4 id="h4bold">Division: {{ .EVData.Data.Division }}</h4> 
		</div>
	</div>
  <div id="bdr"></div>	

			<div class="row">
				<div class="col-xs-10">
					<h4 id="h4boldtop">Team:  {{ .ENData.Data.First_name	}} {{ .ENData.Data.Last_name	}} ( {{ .ENData.Data.Id_number	}} ) and {{ .ENData.Data.Dog_name }} ( {{ .ENData.Data.Breed }} {{ .ENData.Data.Dog_id_number }} )</h4> 
				</div>
			</div>
			<div id="bdr"></div>
			<div class="row">
				<div class="col-xs-2">
					<h4 id="h4bold">Element</h4>
				</div>
				<div class="col-xs-2" id="center">
					<h4 id="h4bold">Points</h4>
				</div>
				<div class="col-xs-2" id="center">
					<h4 id="h4bold">Time</h4>
				</div>
				<div class="col-xs-2" id="center">
					<h4 id="h4bold">Faults</h4>
				</div>
			</div>
			<div id="bdr"></div>
			{{ $tallyentrant := .TLYData.Data.Entrant_Id }}
			{{ $scorecards := .SCSData.Data }}
			{{ range $scorecard, $scorecards }}
				{{ if eq $scorecard.Data.Entrant_Id $tallyentrant }}
					<div class="row">
						<div class="col-xs-2">
							<p>{{ $scorecard.Data.Element }}</p>
						</div>
						<div class="col-xs-2" id="center">
							<p>{{ $scorecard.Data.Total_points }}</p>
						</div>
						<div class="col-xs-2" id="center">
							<p>{{ $scorecard.Data.Total_time }}</p>
						</div>
						<div class="col-xs-2" id="center">
							<p>{{ $scorecard.Data.Total_faults }}</p>
						</div>
					</div>	
				{{ end }}
			{{ end }}
	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-2">
			<h4 id="h4bold">Titled?</h4>
		</div>
		<div class="col-xs-2" id="center">
			<h4 id="h4bold">Total Points</h4>
		</div>
		<div class="col-xs-2" id="center">
			<h4 id="h4bold">Total Time</h4>
		</div>	  
		<div class="col-xs-2" id="center">
			<h4 id="h4bold">Total Faults</h4>
		</div>
		<div class="col-xs-2" id="center">
			<h4 id="h4bold">Qualifying Score</h4>
		</div>
		<div class="col-xs-2" id="center">
			<h4 id="h4bold">Qualifying Scores</h4>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-2">
			<h5>
				<select name="Title">
					<option value="Not this time" {{if eq .TLYData.Data.Title "Not this time"}}selected="selected"{{end}}>Not this time</option>
					<option value="Titled" {{if eq .TLYData.Data.Title "Titled"}}selected="selected"{{end}}>Titled</option>
				</select>
			</h5>
		</div>	
		<div class="col-xs-2" id="center">
			<h5 class="fnum"><input type="number" name="Total_points" value="{{ .TLYData.Data.Total_points }}"></h5>
		</div>
		<div class="col-xs-2" id="center">
			<h5 class="ftext"><input type="text" name="Total_time" value="{{ .TLYData.Data.Total_time }}"></h5>
		</div>
		<div class="col-xs-2" id="center">
			<h5 class="fnum"><input type="number" name="Total_faults" value="{{ .TLYData.Data.Total_faults }}"></h5>
		</div>
		<div class="col-xs-2" id="center">
			<h5 class="fnum"><input type="number" name="Qualifying_score" value="{{ .TLYData.Data.Qualifying_score }}"></h5>
		</div>
		<div class="col-xs-2" id="center">
			<h5 class="fnum"><input type="number" name="Qualifying_scores" value="{{ .TLYData.Data.Qualifying_scores }}"></h5>
		</div>
	</div>	
	<div class="actions">
		<p><input class="button" type="submit" value="Update Tally"></p>
	</div>
</form>
{{ end }}