{{ define "body" }}
<div class="nav" id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6" id="left">
				<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Team</span><span id="tilda">~</span></h1>
			</div>
			<div class="col-xs-6" id="right">
				<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
			</div>
		</div>
	</div>
<div class="container-fluid" id="padbottom">
	<div class="row">
		<div class="col-xs-1">
			<h4 id="h4bold">First Name</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">Last Name</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">ID#</h4>
		</div>
		<div class="col-xs-1">
			<h4 id="h4bold">K9 Name</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">K9ID#</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">Breed</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<h5 id="h5">{{ .Data.First_name }}</h5>
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Last_name }}</h5>
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Id_number }}</h5>
		</div>
		<div class="col-xs-1">
			<h5 id="h5">{{ .Data.Dog_name }}</h5>
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Dog_id_number }}</h5>
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Breed }}</p>
		</div>
	</div>
</div>
<div class="nav">
	<div class="container-fluid" id="posfix">
		<footer>
			<ul id="nopad">
				<li><p class="linktopgreen"><a href="/entrants/edit/{{ .Data.Id }}">Update Team Info</a> | <a href="/entrants">Back to Teams</a> | <a href="/events">Back to Events</a> | <a href="/info">Info</a></p></li>
{{ end }}
