{{ define "body" }}
<div class="nav" id="header">
	<div class="container-fluid">
		<div class="row">				
			<div class="col-xs-6" id="left">		
				<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Event</span><span id="tilda">~</span></h1>
			</div>					
			<div class="col-xs-6" id="right">				
				<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="white">
	<div class="row">
	  <div class="col-xs-6">
			<h1 id="h1">{{ .EVData.Data.Name }}, {{ .EVData.Data.Location }}</h2>
		</div>
	  <div class="col-xs-6">
			<h2 id="h2right">Date:  {{ .EVData.Data.Date }}</h2>
		</div>
	</div>
	<div id="bdr"></div>	
	<div class="row">	
    <div class="col-xs-4">		
			<h4 id="h4bold">Division: {{ .EVData.Data.Division }}</h4>
		</div>
    <div class="col-xs-4">		
			<h4 id="h4bold">Host:  {{ .EVData.Data.Host }} </h4>
		</div>
    <div class="col-xs-4">		
			<h4 id="h4bold">Status:  {{ .EVData.Data.Status }} </h4>
		</div>		
	</div>
  <div class="row">
    <div class="col-xs-1">
			<ul>
				<li id="bold">Element</li>
					<li>Interior</li>
					<li>Exterior</li>
					<li>Container</li>
					<li>Vehicle</li>
					<li>Elite</li>
			</ul>
		</div>
		<div class="col-xs-2">
			<ul>
				<li id="centerbold">Search Areas</li>
					<li id="center">{{ .EVData.Data.Int_search_areas }}</li>
					<li id="center">{{ .EVData.Data.Ext_search_areas }}</li>
					<li id="center">{{ .EVData.Data.Cont_search_areas }}</li>
					<li id="center">{{ .EVData.Data.Veh_search_areas }}</li>
					<li id="center">{{ .EVData.Data.Elite_search_areas }}</li>
			</ul>
		</div>
		<div class="col-xs-2">
			<ul>
				<li id="centerbold">Hides</li>
					<li id="center">{{ .EVData.Data.Int_hides }}</li>
					<li id="center">{{ .EVData.Data.Ext_hides }}</li>
					<li id="center">{{ .EVData.Data.Cont_hides }}</li>
					<li id="center">{{ .EVData.Data.Veh_hides }}</li>
					<li id="center">{{ .EVData.Data.Elite_hides }}</li>
			</ul>
		</div>
	</div>
	<div id="bdr"></div>
	<div class="row">
    <div class="col-xs-3">		
			<ul>
				{{ $users := .USRSData.Data }}
				{{ range $user := $users }}
					<li id="bold">{{ $user.Data.Role }}</li>
				{{ end }}
			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
			  {{ $users := .USRSData.Data }}
				{{ range $user := $users }}					
				<li>{{ $user.Data.First_name }} {{ $user.Data.Last_name }}</li>
				{{ end }}			
			</ul>
		</div>
	</div>
	<div id="bdr_heavy_top"></div>
	<h2 id="h2namehighlight">Result Summary</h2>
	<div id="bdr_heavy"></div>
	{{ $teams := .ENSData.Data }}
	{{ $tmlength := len $teams }}
	{{ $complete := false }}
	{{ if gt $tmlength 0 }}
		{{ $tallies := .TLYSData.Data }}
		{{ $scorecards := .SCSData.Data }}
		{{ $scs_completed := .SCScompleted }}
		{{ $tly_completed := .TLYcompleted }}
		{{ $event_id := .EVData.Data.Event_Id }}
		{{ $eventteam_id := .EVData.Data.EntrantSelected_Id }}
		{{ range $team := $teams }}
</div>
			{{ range $evtmindex, $evteamid := $eventteam_id }}	
				{{ if eq $evteamid $team.Data.Team_Id }}
					{{ range $scindex, $sc_complete := $scs_completed }}
						{{ if eq $evtmindex $scindex }}
							{{ if eq $sc_complete $evteamid }}						
								{{ range $tlyindex, $tly_complete := $tly_completed }}																	
									{{ if eq $evtmindex $tlyindex }}
										{{ if eq $tly_complete $evteamid }}
<div class="container-fluid" id="complete">
										{{ else }}
<div class="container-fluid" id="white">
										{{ end }}
									{{ end }}
								{{ end }}
							{{ else }}
<div class="container-fluid" id="white">							
							{{ end }}		
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}	
	<div id="bdr_heavy_top"></div>
	<h2 id="h2namehighlight">{{ $team.Data.First_name }} {{ $team.Data.Last_name }} and {{ $team.Data.Dog_name }}</h2>
	<div id="bdr_heavy"></div>
	<div class="row">
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Points</p>
		</div>					
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Time</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Total Faults</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="centerwrap">Qualifying Score</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="centerwrap">Qualifying Scores</p>
		</div>			
	</div>
	<div id="bdr"></div>
			{{ range $tally := $tallies }}
				{{ if eq $tally.Data.Entrant_Id $team.Data.Team_Id }} 
	<div class="row">
		<div class="col-xs-2">
			<p class="link"><a href="/tallies/show/{{ $tally.Data.Id }}">View</a></p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $tally.Data.Total_points }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $tally.Data.Total_time }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center" >{{ $tally.Data.Total_faults }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $tally.Data.Qualifying_score }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $tally.Data.Qualifying_scores }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1">
			<p class="linktop"><a href="/tallies/edit/{{ $tally.Data.Id }}">Update Tally</a></p>
		</div>
	</div>
	<div id="bdr"></div>
			{{ if eq $tally.Data.Title "Titled" }}
	<div class="row">			
		<div class="col-xs-2">						
			<h2 id="h2">Titled</h2>
		</div>
		<div class="col-xs-2" id="sniffing">						
			<img src="/static/img/award_badge_ribbon_sticker_prize_quality_seal_star-512.png" class="img_star"/>
		</div>
	</div>
					{{ end }}	
				{{ end }}	
			{{ end }}

	<div id="bdr"></div>
	<div class="row">
		<div class="col-xs-8">
			<h4 id="h4boldtop"><span style="color:#00217f; font-size:22px;">View Scorecards</span></h4>
		</div>
		<div class="col-xs-4">
			<h3 id="h4boldtop"><span style="color:#00217f; font-size:22px;">Run Scorecards</span></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Points</p>
		</div>					
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Time</p>
		</div>				
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Faults</p>
		</div>
		<div class="col-xs-2">				
			<p class="evshowb">Link</p>
		</div>		
	</div>	
			{{ range $scorecard := $scorecards }}
				{{ if eq $scorecard.Data.Entrant_Id $team.Data.Team_Id }}
	<div class="row" >
		<div class="col-xs-2">
			<p class="link"><a href="/scorecards/show/{{ $scorecard.Data.Id }}">{{ $scorecard.Data.Element }} {{ $scorecard.Data.Search_area }}</a></p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $scorecard.Data.Total_points }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $scorecard.Data.Total_time }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $scorecard.Data.Total_faults }}</p>
		</div>
		<div class="col-xs-2">
				<p class="link"><a href="/scorecards/edit/{{ $scorecard.Data.Id }}">{{ $scorecard.Data.Element }} {{ $scorecard.Data.Search_area }}</a></p>
		</div>
	</div>
				{{ end }}
			{{ end }}
		{{ end }}
</div>
	{{ else }}	
</div>	
<div class="container-fluid" id="white">
</div>	
	{{ end }}
<div class="container-fluid" id="padbottom">	
	<div id="bdr_heavy_top"></div>
	<h2 id="h2namehighlight">Placing</h2>
	<div id="bdr_heavy"></div>
	<div class="row" >
		<div class="col-xs-2">				
			<p class="evshowb">Place</p>
		</div>
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Title</p>
		</div>		
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Points</p>
		</div>		
		<div class="col-xs-2">				
			<p class="evshowb" id="center">Time</p>
		</div>				
		<div class="col-xs-1">				
			<p class="evshowb" id="center">Faults</p>
		</div>				
		<div class="col-xs-4">				
			<p class="evshowb">Team</p>
		</div>				
	</div>
	{{ $teams := .ENSData.Data }}
	{{ $tallies := .TLYSData.Data }}
	{{ $scorecards := .SCSData.Data }}
	{{ $ranking := .Rank }}
	{{ $event_id := .EVData.Data.Event_Id }}
	{{ range $index, $rank := $ranking }}
		{{ range $tally := $tallies }}
			{{ range $team := $teams }}
				{{ if eq $rank $tally.Data.Tally_Id }}
					{{ if eq $tally.Data.Entrant_Id $team.Data.Team_Id }}
						{{ if eq $tally.Data.Event_Id $event_id }}	
	<div class="row">
		<div class="col-xs-2">
				{{ if eq $index 0 }}<p>First Place</p>{{ end }}
				{{ if eq $index 1 }}<p>Second Place</p>{{ end }}
				{{ if eq $index 2 }}<p>Third Place</p>{{ end }}
			  {{ if gt $index 2 }}<p> </p>{{ end }}
		</div>
		<div class="col-xs-1">
			<p id="center">{{ $tally.Data.Title }}</p>
		</div>		
		<div class="col-xs-1">
			<p id="center">{{ $tally.Data.Total_points }}</p>
		</div>
		<div class="col-xs-2">
			<p id="center">{{ $tally.Data.Total_time }}</p>
		</div> 
		<div class="col-xs-1">
			<p id="center">{{ $tally.Data.Total_faults }}</p>
		</div>
		<div class = "col-xs-4">
			<p>{{ $team.Data.First_name }} {{ $team.Data.Last_name }} and {{ $team.Data.Dog_name }}</p>
		</div>
	</div>
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
  {{ end }}
</div>	
<div class="nav">
	<div class="container-fluid" id="posfix">
		<footer>
			<ul id="nopad">
				<li><p class="linktopgreen"><a href="/events/edit/{{ .EVData.Data.Id }}">Edit Event</a> | <a href="/events">Back to Events</a> | <a href="/info">Info</a></p></li>
{{ end }}