{{ define "body" }}
<div class="nav" id="header">
	<div class="container-fluid">	
		<div class="row">
			<div class="col-xs-6" id="left">		
				<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Update Team Info</span><span id="tilda">~</span></h1>
			</div>
			<div class="col-xs-6" id="right">				
				<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="padbottom">
	<form method="POST" action="/entrants/update/{{ .Data.Id }}">
	
		{{ template "form" . }}
		
</div>
<div class="nav">
	<div class="container-fluid" id="posfix">
		<footer>
			<ul id="nopad">
				<li><p class="linktopgreen"><a href="/entrants/show/{{ .Data.Id }}">Show Team Info</a> |
	<a href="/events">Back to Events</a> | <a href="/entrants">Back to Teams</a> | <a href="/info">Info</a></p></li>
{{ end }}