{{ define "body" }}
		<div class="nav" id="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6" id="left">		
						<h1 id="h1"><span id="tilda">~</span><span id="whitetxt">Teams</span><span id="tilda">~</span></h1>
					</div>
					<div class="col-xs-6" id="right">			
						<h1 id="h1right"><span id="greenyellow">Demo Use Only</span></h1>
					</div>				
				</div>					
			</div>
		</div>
		<div class="container-fluid" id="padbottom">
			<form method="GET">
				{{ range . }}
				<div class="row">
					<div class="col-xs-2">
						<h4 id="h4">Name: </h4>
					</div>
					<div class="col-xs-2">
						<h4 id="h4">Team ID: </h4>
					</div>		
				</div>
					<div class="col-xs-2">
						<p class="ftext"><input type="text" name="Name" value="{{ .Name }}"></p>	
					</div>
					<div class="col-xs-2">
						<p class="ftext"><input type="text" name="Team_Id" value="{{ .Team_Id }}"></p>	
					</div>
        {{ end }}					
				<div class="row">
					<div class="col-xs-4">
						<div class="actions">
							<p><input type="submit" value="Submit"></p>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="nav">
			<div class="container-fluid" id="posfix">
				<footer>
					<ul id="nopad">
						<li><p class="linktopgreen"><a href="/events">Back to Events</a> | <a href=#>Officials</a> | <a href="/entrants">Teams</a></p></li>		
{{ end }}