{{ define "form" }}
	<div class="row">
		<div class="col-xs-2">
			<h4 id="h4">First Name: </h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4">Last_Name: </h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4">ID#: </h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4">K9 Name: </h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4">K9 ID#: </h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4">Breed: </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<p class="ftext"><input type="text" name="First_name" value="{{ .Data.First_name }}"></p>	
		</div>
		<div class="col-xs-2">
			<p class="ftext"><input type="text" name="Last_name" value="{{ .Data.Last_name }}"></p>	
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Id_number }}</h5>	
		</div>
		<div class="col-xs-2">
			<p class="ftext"><input type="text" name="Dog_name" value="{{ .Data.Dog_name }}"></p>	
		</div>
		<div class="col-xs-2">
			<h5 id="h5">{{ .Data.Dog_id_number }}</h5>	
		</div>
		<div class="col-xs-2">
			<p class="ftext"><input type="text" name="Breed" value="{{ .Data.Breed }}"></p>	
		</div>		
	</div>		
	<div class="row">
		<div class="col-xs-4">
			<div class="actions">
				<p><input class="button" type="submit" value="Update"></p>
			</div>
		</div>
	</div>
</form>
{{ end }}