<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{{ define "title" }}ScoreSheet{{ end }}
		<title>{{ template "title" . }}</title>
		<link href="/static/stylesheets/application.css" rel="stylesheet"/>
		<link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet"/>
		<script src="/static/jscript/stopwatch.js"></script>
	</head>
	<body>
		<div class="nav" id="navpad">
			<div class="container-fluid">
				<header>
			 {{ if ne .SData.Current_user "" }}
         {{ if ne .SData.Current_status false }}
			<ul>
				<li id="right">{{ .SData.Current_email }} | <a href="/logout">Log out</a></li>
			</ul>
					{{ end }}
			{{ else }}
<!--		  else  -->
			<ul>
				<li id="right"><a id="right" href="/login">Log in</a>  |  <a href="/signup">Sign up</a></li>
			</ul>
			{{ end }}
<!--		   end 	-->
					<div class="row" id="backgroundcolor">
						<div class="col-xs-2">
							<img src="/static/img/a.jpg" class="img"/>
						</div>
						<div class="col-xs-2">
							<img src="/static/img/b.jpg" class="img"/>
						</div>
						<div class="col-xs-2">
							<img src="/static/img/c.jpg" class="img"/>
						</div>
						<div class="col-xs-2">
							<img src="/static/img/d.jpg" class="img"/>
						</div>
						<div class="col-xs-2">
							<img src="/static/img/e.jpg" class="img"/>
						</div>
						<div class="col-xs-2">
							<img src="/static/img/f.jpg" class="img"/>
						</div>
					</div>
				</header>
			</div>
		</div>

		{{ template "body" . }}

						<li id="footerli"><h4 id="footer"><span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span>NOSINGforFUN<span id="tilda" style="font-size:28px">~</span></h4></li>
					</ul>
				</footer>
			</div>
		</div>
	</body>
</html>
