{{ define "form" }}
	<div class="row">
		<div class="col-xs-12">
			<p class="ftext"><input type="text" name="First_name" value="{{ .Data.First_name }}" placeholder="First Name"> <input type="text" name="Last_name" value="{{ .Data.Last_name }}" placeholder="Last Name"> <input type="text" name="Email" value="{{ .Data.Email }}" placeholder="Email"> <input type="password" name="Password" placeholder="Password"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h5 id="h5">
				<select name="Role">
					<option value="Judge" {{if eq .Data.Role "Judge"}}selected="selected"{{end}}>Judge</option>
					<option value="Representative" {{if eq .Data.Role "Representative"}}selected="selected"{{end}}>Representative</option>
					<option value="Certifying Official" {{if eq .Data.Role "Certifying Official"}}selected="selected"{{end}}>Certifying Official</option>
				</select>				
			</h5>			
		</div>		
		<div class="col-xs-4">
			<h5 id="h5">
				<select name="Status">
					<option value="active" {{if eq .Data.Status "active"}}selected="selected"{{end}}>active</option>
					<option value="inactive" {{if eq .Data.Status "inactive"}}selected="selected"{{end}}>inactive</option>
				</select>				
			</h5>			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="actions">
				<p><input class="button" type="submit" value="Enter"></p>
			</div>
		</div>
	</div>
</form>
{{ end }}